body {
    background-color: rgb(219, 219, 219);
}
.container {
    background-color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    margin-top: 13%;
    margin-left: 35%;
    width: 400px;
    height: auto;
    text-align: center;
}
.title {
    color:rgb(83, 79, 79);
}
.container-input {
    display: flex;
    flex-direction: column;
}
.field {
    border: none;
    background-color: rgb(211, 202, 182);
    padding: 15px;
    margin: 10px;
    min-width: 200px;
    border-radius: 15px;
}
.container-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn {
    border: none;
    border-radius: 12px;
    padding: 10px;
    min-width: 100px;
    font-size: large;
    background-color: rgb(245, 172, 37);
    color: white;
    box-shadow: 1px 4px rgb(216, 211, 202);
    cursor: pointer;
}
.btn:hover, .white-btn:hover {
    opacity: 70%;
}
.white-btn {
    background-color: inherit;
    border: none;
    border-radius: 12px;
    padding: 10px;
    min-width: 100px;
    font-size: large;
    cursor: pointer;
}
.container-btn-register {
    color: rgb(7, 180, 180);
}
.block {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-around;
}
.block-menu {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding-right: 50px;
}
.title {
    align-self: center;
}
.block-detail {
    display: flex;
    flex-direction: column;
    flex-grow: 1000;
}
.block-detail-user {
    display: flex;
    flex-direction: row;
    justify-content: right;
}
#i-user {
    padding: 15px;
}
.block-detail-data {
    background-color: rgb(238, 243, 235);
}

.block-detail-data-table {
    margin: 40px;
    background-color: white;
}
table {
    width: 100%;
}
th, td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
tr:hover {background-color: coral;}
.block-detail-data-info {
    padding: 20px;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.block-detail-data-info-add {   
    flex-basis: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}
.block-detail-data-info-chart {
    flex-basis: 50%;
    background-color: white;
    margin-right: 25px;
}

.block-detail-data-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
.block-detail-data-page {
    display: flex;
    justify-content: center;
}
.block-detail-data-page-btn{
    background-color: rgb(2, 80, 168);
    color: white;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}
@media (max-width: 415px) {
    table, .block-menu, .block-detail-user {
        display: none;
    }
    .block-detail-data-info {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
    }
}